services:
  nuxt-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stcall-dev
    ports:
      - "3000:3000"
      - "24678:24678"
    volumes:
      - .:/app
    env_file:
      - .env
    command: sh -c "bun install --force && bun --bun run dev --no-fork"
    stdin_open: true
    tty: true