@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.page-enter-from {
  opacity: 0;
  transform: translateX(10px);
}

.page-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}

/* Layout Transitions */
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}